

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f6f9;
  min-height: 100dvh;
  font-family: 'Roboto', sans-serify;
  align-items: center;
  justify-content: center;

   gap: 10px;
  .border_here{
      display: flex;
      align-items: center;
      background-color: #ffff;
      flex-direction: column;
      padding: 20px;
      border-radius: 10px;
      border: 1px grey;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
      text-align: center;
  }
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    

    .heading {
      display: flex;
      align-items: center;
      gap: 5px;
      .logo {
        width: 40px;
        height: 40px;
        
        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }

      .title {
        h2 {
          font-family: 'Courier New', Courier, monospace;
          font-size: 1.8rem;
          font-weight: bold;
          color: #7376c5;
          margin: 0;
        }
      }
    }

    .description {
      color: #292626;
      width: 300px;
      margin: 0 auto;
      padding: 10px;
      p{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        font-size: 18px;
      }
    }
  }
  .bottom{
      display: flex;
      flex-direction: column;
      align-items: center;
      p{
          text-align: center;
      }
      .button{
        padding: 10px;
        button {
            padding: 12px 24px;
            font-size: 1rem;
            font-weight: 600;
            color: #fff;
            background-color: #4285f4;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        
            &:hover {
              background-color: #1b64d8;
            }
          }
      }
  }
  
}
