.dashboard {
  position: relative;
  padding: 20px;
  height: 82dvh;
  overflow-y: scroll;

  .top_bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;

    button {
      align-items: center;
      height: 30px;
      padding: 0 10px;
      background-color: #4CAF50;
      border-radius: 5px;
      border: 1px solid #ddd;
      color: white;

    }

    select {
      align-items: center;
      justify-content: center;
      height: 30px;
      padding: 0 10px;
      border-radius: 5px;
      background-color: #ddd;
    }
  }

  .empty {
    height: 150px;
    width: 150px;
    object-fit: cover;
  }
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  /* Applies the blur effect */
  z-index: 9;
}

.floatingForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: white;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, transform 1s ease;
  z-index: 10;
  /* Ensures form is above overlay */
}

.floatingForm h2 {
  margin-bottom: 15px;
}

.floatingForm input,
.floatingForm select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.floatingForm button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}

.floatingForm button:first-child {

  background-color: #f44336;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.createButton {
  float: right;
  margin-bottom: 20px;
}

.taskList {
  display: flex;
  flex-direction: column;
  width: 100%; // Occupies the full width of the parent container
  gap: 10px;

  .taskRow {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(224, 221, 221);
    border-radius: 5px;
    gap: 5px;

    .title {
      flex: 3;
    }

    .assignee {
      flex: 1;
    }

    .status {
      flex: 1;
    }

    .priority {
      flex: 1;
    }

    .icon {
      flex: 0.2; /* Adjust space as per your design */
      cursor: pointer;
      margin-left: 10px;
      color: #555;
      transition: color 0.2s;
      height: 18px; /* Set fixed height */
      width: auto; /* Allow width to adjust based on aspect ratio */
      object-fit: contain; /* Maintain aspect ratio within the 10px height */
    
      &:hover {
        color: #0070f3; /* Highlight color on hover */
      }
    }
    
  }

  .taskRow:hover {
    background-color: whitesmoke;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

}


.confirmPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  width: 300px;
  text-align: center;

  p {
    margin-bottom: 20px;
    color: #333;
  }

  button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:first-of-type {
      background-color: #ff4d4f; // Delete button color
      color: #fff;
    }

    &:last-of-type {
      background-color: #f0f0f0; // Cancel button color
      color: #333;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.loader {
  width: 60px;
  height: 50px;
}

.noresult {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .empty {
    height: 150px;
    width: 150px;
    object-fit: cover;
    cursor: pointer;
    background-color: #ddd;
    color: #ccc;
  }
}

@media screen and (max-width: 699px) {

  .assignee {
    display: none;
  }

  .status {
    display: none;
  }
}